<main id="main" class="main">

  <div class="pagetitle">
    <h1>Minhas Marcações</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Início</a></li>
        <li class="breadcrumb-item">Administração</li>
        <li class="breadcrumb-item active">Usuários Pendentes</li>
      </ol>
    </nav>
  </div><!-- Título da Página -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Visualizar Marcações</h5>

            <!-- Loop through marcacoes -->
            <div *ngFor="let marcacao of marcacoes">
              <h3>ID da Marcação: {{ marcacao.id }}</h3>
              <p>Total a Pagar: {{ marcacao.totalPagar | currency:'Kz':'symbol' }}</p>

              <!-- Verifica o status da marcação -->
              <ng-container *ngIf="marcacao.status; else marcaPendente">
                <!-- Lista de Serviços para esta Marcação -->
                <table class="table">
                  <thead>
                    <tr>
                      <th>Serviço/Tratamento</th>
                      <th>Categoria</th>
                      <th>Profissional</th>
                      <th>Data</th>
                      <th>Hora</th>
                      <th>Ações</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let servico of servicosPorMarcacao[marcacao.id]">
                      <td>{{ servico.servicoDescricao }}</td>
                      <td>{{ servico.categoriaDescricao }}</td>
                      <td>{{ servico.profissionalNome }}</td>
                      <td>{{ servico.dataHora | date:'yyyy/MM/dd' }}</td>
                      <td>{{ servico.dataHora | date:'HH:mm' }}</td>
                      <td>
                        <button class="btn btn-warning btn-sm">Reagendar</button>
                        <button class="btn btn-danger btn-sm me-2">Cancelar</button>

                      </td>
                    </tr>
                  </tbody>
                </table>
              </ng-container>
              <!-- Fim Lista de Serviços para esta Marcação -->

              <!-- Marcação Pendente -->
              <ng-template #marcaPendente>
                <p>Marcação Pendente</p>
              </ng-template>
              <!-- Fim Marcação Pendente -->

            </div>
            <!-- Fim Loop through marcacoes -->

          </div>
        </div>
      </div>
    </div>
  </section>

</main><!-- End #main -->
