<main id="main" class="main">

  <div class="pagetitle">
    <h1>Gerir Administrativos</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Início</a></li>
        <li class="breadcrumb-item">Administração</li>
        <li class="breadcrumb-item active">Gerir Administrativos</li>
      </ol>
    </nav>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Registrar Novo Administrativo</h5>
            <form (ngSubmit)="register()">
              <div class="row mb-3">
                <label for="inputFullName" class="col-sm-4 col-form-label">Nome Completo</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="inputFullName" [(ngModel)]="newUser.nomeCompleto" name="nomeCompleto">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputBI" class="col-sm-4 col-form-label">Bilhete de Identidade (BI)</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="inputBI" [(ngModel)]="newUser.bi" name="bi">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputEmail" class="col-sm-4 col-form-label">Endereço de Email</label>
                <div class="col-sm-8">
                  <input type="email" class="form-control" id="inputEmail" [(ngModel)]="newUser.email" name="email">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputPhone" class="col-sm-4 col-form-label">Telefone</label>
                <div class="col-sm-8">
                  <div class="input-group has-validation">
                    <span class="input-group-text">+244</span>
                    <input type="tel" class="form-control" id="inputPhone" [(ngModel)]="newUser.telemovel" name="telemovel" placeholder="Seu número de telefone">
                  </div>
                </div>
              </div>

              <div class="row mb-3">
                <label for="photoUpload" class="col-sm-4 col-form-label">Anexar Foto (opcional)</label>
                <div class="col-sm-8">
                  <input type="file" class="form-control" id="photoUpload" (change)="onFileSelected($event)" accept="image/*">
                  <div class="form-text">Selecione uma foto sua.</div>
                </div>
              </div>

              <div class="row mb-3">
                <label for="inputUsername" class="col-sm-4 col-form-label">Nome de Usuário</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="inputUsername" [(ngModel)]="newUser.userName" name="userName">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputPassword" class="col-sm-4 col-form-label">Senha</label>
                <div class="col-sm-8">
                  <input type="password" class="form-control" id="inputPassword" [(ngModel)]="newUser.password" name="password">
                </div>
              </div>
              <div class="row mb-3">
                <label for="confirmPassword" class="col-sm-4 col-form-label">Confirmar Senha</label>
                <div class="col-sm-8">
                  <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-8 offset-sm-4">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="newUser.status" name="status" required>
                    <label class="form-check-label" for="acceptTerms">Concordo e aceito os <a href="#">termos e condições</a></label>
                  </div>
                </div>
              </div>
              <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary me-2">Registrar</button>
                <button type="reset" class="btn btn-secondary">Limpar</button>
              </div>
            </form>
          </div>
        </div>
      </div>


      <div class="col-lg-12 mt-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Lista de Administrativos</h5>
            <table class="table datatable">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Email</th>
                  <th>Telefone</th>
                  <th>Nome de Usuário</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let admin of administrativos">
                  <td>{{ admin.nomeCompleto }}</td>
                  <td>{{ admin.email }}</td>
                  <td>{{ admin.telemovel }}</td>
                  <td>{{ admin.userName }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>



    </div>
  </section>

</main>
