<main id="main" class="main">
  <div class="pagetitle">
    <h1>Minhas Marcações</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Início</a></li>
        <li class="breadcrumb-item">Administração</li>
        <li class="breadcrumb-item active">Usuários Pendentes</li>
      </ol>
    </nav>
  </div><!-- Título da Página -->

  <section class="section">
    <!-- Loop through marcacoes -->
    <div *ngFor="let marcacao of marcacoes">
      <h3>ID da Marcação: {{ marcacao.id }}</h3>
      <p>Total a Pagar: {{ marcacao.totalPagar | currency:'Kz':'symbol' }}</p>

       <!-- Botão Confirmar para marcações pendentes -->
      <ng-container *ngIf="!marcacao.status">
        <button class="btn btn-primary btn-sm" (click)="confirmarMarcacao(marcacao)">Confirmar</button>
      </ng-container>
      <!-- Verifica o status da marcação -->
      <ng-container *ngIf="marcacao.status; else marcaPendente">
        <!-- Lista de Serviços para esta Marcação -->
        <table class="table">
          <thead>
            <tr>
              <th>Serviço/Tratamento</th>
              <th>Categoria</th>
              <th>Profissional</th>
              <th>Data</th>
              <th>Hora</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let servico of servicosPorMarcacao[marcacao.id]">
              <td>{{ servico.servicoDescricao }}</td>
              <td>{{ servico.categoriaDescricao }}</td>
              <td>{{ servico.profissionalNome }}</td>
              <td>{{ servico.dataHora | date:'yyyy/MM/dd' }}</td>
              <td>{{ servico.dataHora | date:'HH:mm' }}</td>
              <td>
                <button class="btn btn-warning btn-sm me-2" (click)="selecionarProfissional(servico.profissionalId)" (click)="openReagendarModal(marcacao, servico, reagendarModal)">Reagendar</button>
                <button class="btn btn-danger btn-sm" (click)="cancelarMarcacao(servico.id)">Cancelar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
      <!-- Fim Lista de Serviços para esta Marcação -->

      <!-- Marcação Pendente -->
      <ng-template #marcaPendente>
        <p>Marcação Pendente</p>
      </ng-template>
      <!-- Fim Marcação Pendente -->
    </div>
    <!-- Fim Loop through marcacoes -->

    <!-- Modal de Reagendamento -->
    <ng-template #reagendarModal let-modal>
      <div class="modal-header">
        <h5 class="modal-title" id="reagendarModalLabel">Reagendar Marcação</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="reagendarForm" (ngSubmit)="onReagendarSubmit()">
          <div class="mb-3">
            <label for="data" class="form-label">Data</label>
            <input type="date" id="data" class="form-control" formControlName="data" (change)="selecionarData($event)">
          </div>
          <div class="mb-3">
            <label for="hora" class="form-label">Hora</label>
            <select id="hora" class="form-control" formControlName="hora" (change)="selecionarHora($event)">
              <option *ngFor="let horario of horarios" [value]="horario.horarioId">{{ horario.horarioDescricao }}</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </form>

      </div>
    </ng-template>
  </section>
</main><!-- End #main -->
