<!-- ======= Team Section ======= -->
<section id="team" class="team">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Conheça</h2>
      <p>Nossa equipe de especialistas</p>
    </div>

    <div class="row">
      <div *ngFor="let professional of professionals; let i = index" class="col-lg-3 col-md-6 d-flex align-items-stretch" [attr.data-aos-delay]="(i + 1) * 100">
        <div class="member" data-aos="fade-up">
          <div class="member-img">
            <img [src]="professional.fotoUrl" class="img-fluid" alt="{{ professional.nome }}">
          </div>
          <div class="member-info">
            <h4>{{ professional.nome }}</h4>
            <span>{{ professional.especialidade }}</span>
            <div *ngIf="professional.servico">
              <h5>Serviço:</h5>
              <p>{{ professional.servico.descricao }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Team Section -->
